# Rename to terraform.tfvars and fill in your values.
# Never commit terraform.tfvars — it contains your Vault license.

aws_region   = "us-east-1"
cluster_name = "vault-poc"

# Vault Enterprise license string (required)
vault_license = "YOUR_VAULT_ENTERPRISE_LICENSE"

# Optional overrides
instance_type = "m5.large"
# key_pair_name = "my-ec2-keypair"
